@keyframes auto-move {
    0% {
        left: 0;
        
    }

    100% {
        left: calc(100vw - 30vw);
    }
}

@keyframes wheel-moveL {
    
    0% {           
        transform: rotate(0deg);        
    }

    100% {     
        left: 73vw;          
        transform: rotate(360deg);
    }
}

@keyframes wheel-moveR {   

    0% {      
        transform: rotate(0deg);        
    }

    100% {     
        left: 92vw;           
        transform: rotate(360deg);
    }
}

