@keyframes auto-move {
    0% {
        left: 0;
        
    }

    100% {
        left: calc(100vw - 200px);
    }
}

@keyframes wheel-moveL {
    
    0% {           
        transform: rotate(0deg);        
    }

    100% {     
        left: calc(100vw - 180px);          
        transform: rotate(360deg);
    }
}

@keyframes wheel-moveR {   

    0% {      
        transform: rotate(0deg);        
    }

    100% {     
        left: calc(100vw - 53px);           
        transform: rotate(360deg);
    }
}

