* {
    box-sizing: border-box;
}

body {
    background-color: #fff;    
    margin: 0;
    padding: 0;
    margin-top: 20px ; 
}

.car {    
    position: relative;
    top: 0;   
}

.car__auto {
    animation: auto-move linear 3s infinite alternate;
    position: absolute;  
    max-width: 100vw;  
    top:0;
    left: 0;
    overflow: hidden;
}
