
.wheel-left {
    position: absolute;    
    top:60px;
    left: 20px;
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;    
    
    animation: wheel-moveL linear 3s infinite alternate;
}