.car__wheel-left {
    animation: wheel-moveL linear 3s infinite alternate;
    position: absolute;
    left:3vw;
    top:6vw;
    width: 5vw;
}

.wheel-left {
    max-width: 100%;
    display: block;
    
}