.car__wheel-right {
    animation: wheel-moveR linear 3s infinite alternate;
    position: absolute;
    left:22vw;
    top:6vw;
    width: 5vw;
}

.wheel-right {    
    max-width: 100%;
    display: block;
    
}